

body{
    background-color: #c9e9e3;


}

#myHeader {
    left: 100px;
    position: relative;
    text-align: center;
    top: 55%;
    width: 100%;
    font-weight: bold;
}

#form1{
    margin-top: 10%;
    margin-left: 40%;
}


.cls{
    max-width: 275px;
    width: 150%;
}

form{
    width: 200%;
}


.buttons{
    font-weight: bold;
    font-size: large;
    height:38px;
    width:38px;
}

table {
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.my_table{
    display: block;
    text-align: center;
    margin-left: 33%;
    margin-top: 5%;
}

