{% extends 'main.html' %}
{%  load static %}


{% block content %}

      <div style=" margin-top: 1%; position:relative;">

            <div id="q_0" style="display:none">

                  {% if article_page_ob_0 %}
                    {% for instance in article_page_ob_0 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_0.has_previous %}
                                    <a href="?dim=0&page=1">&laquo;First</a>
                                    <a href="?dim=0&page={{ article_page_ob_0.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_0.number }} of {{ article_page_ob_0.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_0.has_next %}
                                    <a href="?dim=0&page={{ article_page_ob_0.next_page_number }}">Next</a>
                                    <a href="?dim=0&page={{ article_page_ob_0.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>
                  </div>
                {% endif %}

            </div>


            <div id="q_1" style="display:none">

                  {% if article_page_ob_1 %}
                    {% for instance in article_page_ob_1 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_1.has_previous %}
                                    <a href="?dim=1&page=1">&laquo;First</a>
                                    <a href="?dim=1&page={{ article_page_ob_1.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_1.number }} of {{ article_page_ob_1.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_1.has_next %}
                                    <a href="?dim=1&page={{ article_page_ob_1.next_page_number }}">Next</a>
                                    <a href="?dim=1&page={{ article_page_ob_1.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>

                  </div>
                {% endif %}
            </div>

            <div id="q_2" style="display:none">

                  {% if article_page_ob_2 %}
                    {% for instance in article_page_ob_2 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_2.has_previous %}
                                    <a href="?dim=2&page=1">&laquo;First</a>
                                    <a href="?dim=2&page={{ article_page_ob_2.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_2.number }} of {{ article_page_ob_2.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_2.has_next %}
                                    <a href="?dim=2&page={{ article_page_ob_2.next_page_number }}">Next</a>
                                    <a href="?dim=2&page={{ article_page_ob_2.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>

                  </div>
                {% endif %}
            </div>

            <div id="q_3" style="display:none">

                  {% if article_page_ob_3 %}
                    {% for instance in article_page_ob_3 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_3.has_previous %}
                                    <a href="?dim=3&page=1">&laquo;First</a>
                                    <a href="?dim=3&page={{ article_page_ob_3.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_3.number }} of {{ article_page_ob_3.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_3.has_next %}
                                    <a href="?dim=3&page={{ article_page_ob_3.next_page_number }}">Next</a>
                                    <a href="?dim=3&page={{ article_page_ob_3.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>

                  </div>
                {% endif %}
            </div>


            <div id="q_4" style="display:none">

                  {% if article_page_ob_4 %}
                    {% for instance in article_page_ob_4 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_4.has_previous %}
                                    <a href="?dim=4&page=1">&laquo;First</a>
                                    <a href="?dim=4&page={{ article_page_ob_4.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_4.number }} of {{ article_page_ob_4.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_4.has_next %}
                                    <a href="?dim=4&page={{ article_page_ob_4.next_page_number }}">Next</a>
                                    <a href="?dim=4&page={{ article_page_ob_4.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>
                  </div>
                {% endif %}
            </div>

            <div id="q_5" style="display:none">

                  {% if article_page_ob_5 %}
                    {% for instance in article_page_ob_5 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_5.has_previous %}
                                    <a href="?dim=5&page=1">&laquo;First</a>
                                    <a href="?dim=5&page={{ article_page_ob_5.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_5.number }} of {{ article_page_ob_5.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_5.has_next %}
                                    <a href="?dim=5&page={{ article_page_ob_5.next_page_number }}">Next</a>
                                    <a href="?dim=5&page={{ article_page_ob_5.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>
                  </div>
                {% endif %}
            </div>

            <div id="q_6" style="display:none">

                  {% if article_page_ob_6 %}
                    {% for instance in article_page_ob_6 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_6.has_previous %}
                                    <a href="?dim=6&page=1">&laquo;First</a>
                                    <a href="?dim=6&page={{ article_page_ob_6.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_6.number }} of {{ article_page_ob_6.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_6.has_next %}
                                    <a href="?dim=6&page={{ article_page_ob_6.next_page_number }}">Next</a>
                                    <a href="?dim=6&page={{ article_page_ob_6.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>
                  </div>
                {% endif %}
            </div>

            <div id="q_7" style="display:none">

                  {% if article_page_ob_7 %}
                    {% for instance in article_page_ob_7 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_7.has_previous %}
                                    <a href="?dim=7&page=1">&laquo;First</a>
                                    <a href="?dim=7&page={{ article_page_ob_7.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_7.number }} of {{ article_page_ob_7.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_7.has_next %}
                                    <a href="?dim=7&page={{ article_page_ob_7.next_page_number }}">Next</a>
                                    <a href="?dim=7&page={{ article_page_ob_7.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>
                  </div>
                {% endif %}
            </div>

            <div id="q_8" style="display:none">

                  {% if article_page_ob_8 %}
                    {% for instance in article_page_ob_8 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_8.has_previous %}
                                    <a href="?dim=8&page=1">&laquo;First</a>
                                    <a href="?dim=8&page={{ article_page_ob_8.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_8.number }} of {{ article_page_ob_8.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_8.has_next %}
                                    <a href="?dim=8&page={{ article_page_ob_8.next_page_number }}">Next</a>
                                    <a href="?dim=8&page={{ article_page_ob_8.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>
                  </div>
                {% endif %}
            </div>

            <div id="q_9" style="display:none">

                  {% if article_page_ob_9 %}
                    {% for instance in article_page_ob_9 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_9.has_previous %}
                                    <a href="?dim=9&page=1">&laquo;First</a>
                                    <a href="?dim=9&page={{ article_page_ob_9.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_9.number }} of {{ article_page_ob_9.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_9.has_next %}
                                    <a href="?dim=9&page={{ article_page_ob_9.next_page_number }}">Next</a>
                                    <a href="?dim=9&page={{ article_page_ob_9.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>
                  </div>
                {% endif %}
            </div>

            <div id="q_10" style="display:none">

                  {% if article_page_ob_10 %}
                    {% for instance in article_page_ob_10 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_10.has_previous %}
                                    <a href="?dim=10&page=1">&laquo;First</a>
                                    <a href="?dim=10&page={{ article_page_ob_10.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_10.number }} of {{ article_page_ob_10.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_10.has_next %}
                                    <a href="?dim=10&page={{ article_page_ob_10.next_page_number }}">Next</a>
                                    <a href="?dim=10&page={{ article_page_ob_10.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>
                  </div>
                {% endif %}
            </div>

            <div id="q_11" style="display:none">

                  {% if article_page_ob_11 %}
                    {% for instance in article_page_ob_11 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_11.has_previous %}
                                    <a href="?dim=11&page=1">&laquo;First</a>
                                    <a href="?dim=11&page={{ article_page_ob_11.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_11.number }} of {{ article_page_ob_11.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_11.has_next %}
                                    <a href="?dim=11&page={{ article_page_ob_11.next_page_number }}">Next</a>
                                    <a href="?dim=11&page={{ article_page_ob_11.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>
                  </div>
                {% endif %}
            </div>

            <div id="q_12" style="display:none">

                  {% if article_page_ob_12 %}
                    {% for instance in article_page_ob_12 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_12.has_previous %}
                                    <a href="?dim=12&page=1">&laquo;First</a>
                                    <a href="?dim=12&page={{ article_page_ob_12.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_12.number }} of {{ article_page_ob_12.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_12.has_next %}
                                    <a href="?dim=12&page={{ article_page_ob_12.next_page_number }}">Next</a>
                                    <a href="?dim=12&page={{ article_page_ob_12.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>
                  </div>
                {% endif %}
            </div>

            <div id="q_13" style="display:none">

                  {% if article_page_ob_13 %}
                    {% for instance in article_page_ob_13 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_13.has_previous %}
                                    <a href="?dim=13&page=1">&laquo;First</a>
                                    <a href="?dim=13&page={{ article_page_ob_13.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_13.number }} of {{ article_page_ob_13.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_13.has_next %}
                                    <a href="?dim=13&page={{ article_page_ob_13.next_page_number }}">Next</a>
                                    <a href="?dim=13&page={{ article_page_ob_13.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>
                  </div>
                {% endif %}
            </div>

            <div id="q_14" style="display:none">

                  {% if article_page_ob_14 %}
                    {% for instance in article_page_ob_14 %}
                        <div>
                            <div><strong><small>
                                <a href="{% url "articles_detail" pubmed_id=instance.pubmed_id %}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                            </div>
                            <div><h3>{{ instance.title }}</h3></div>
                            <div><strong><small><h6>Authors:</h6>
                            {% for data in instance.authors %}
                                    <span>
                                    {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                                    </span>
                                {% endfor %}
                            </small></strong></div>
                            <p>
                            <p>
                                <div>
                            <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
                        <div><strong><small>
                            {% for data in instance.keywords %}
                                    <span>
                                    {{ data}},
                                    </span>
                                {% endfor %}</small></strong></div>
                        </div>
                        <hr/>
                    {% endfor %}

                  <div class="pagination">
                    <div class="container text-center">
                            <span class="step-links">
                                {% if article_page_ob_14.has_previous %}
                                    <a href="?dim=14&page=1">&laquo;First</a>
                                    <a href="?dim=14&page={{ article_page_ob_14.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current" >
                                    Page {{ article_page_ob_14.number }} of {{ article_page_ob_14.paginator.num_pages }}.
                                </span>

                                {% if article_page_ob_14.has_next %}
                                    <a href="?dim=14&page={{ article_page_ob_14.next_page_number }}">Next</a>
                                    <a href="?dim=14&page={{ article_page_ob_14.paginator.num_pages }}">&raquo; Last</a>
                                {% endif %}
                            </span>
                    </div>
                  </div>
                {% endif %}
            </div>


















        </div>


<script  src="{% static '/js/app.js' %}"></script>


{% endblock %}



