{% extends 'main.html' %}
{%  load static %}


{% block content %}

    <div id="q_0" style="display:none">
        {% for article in articles_0 %} {{ article.pubmed_id }} {% endfor %}
    </div>

    <div id="q_1" style="display:none">
        {% for article in articles_1 %} {{ article.pubmed_id }} {% endfor %}
    </div>

    <div id="q_2" style="display:none">
        {% for article in articles_2 %} {{ article.pubmed_id }} {% endfor %}
    </div>

    <div id="q_3" style="display:none">
        {% for article in articles_3 %} {{ article.pubmed_id }} {% endfor %}
    </div>

    <div id="q_4" style="display:none">
        {% for article in articles_4 %} {{ article.pubmed_id }} {% endfor %}
    </div>

    <div id="q_5" style="display:none">
        {% for article in articles_5 %} {{ article.pubmed_id }} {% endfor %}
    </div>

    <div id="q_6" style="display:none">
        {% for article in articles_6 %} {{ article.pubmed_id }} {% endfor %}
    </div>

    <div id="q_7" style="display:none">
        {% for article in articles_7 %} {{ article.pubmed_id }} {% endfor %}
    </div>

    <div id="q_8" style="display:none">
        {% for article in articles_8 %} {{ article.pubmed_id }} {% endfor %}
    </div>

    <div id="q_9" style="display:none">
        {% for article in articles_9 %} {{ article.pubmed_id }} {% endfor %}
    </div>

    <div id="q_10" style="display:none">
        {% for article in articles_10 %} {{ article.pubmed_id }} {% endfor %}
    </div>

    <div id="q_11" style="display:none">
        {% for article in articles_11 %} {{ article.pubmed_id }} {% endfor %}
    </div>

    <div id="q_12" style="display:none">
        {% for article in articles_12 %} {{ article.pubmed_id }} {% endfor %}
    </div>



<script  src="{% static '/js/app.js' %}"></script>


{% endblock %}


