{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}

    {% load article_extra %}

<div class="col-lg-6 container text-center">


        <h2 class="myHeader">Number of total Covid-19 related articles</h2>


        <h3 class="myHeader">{{ total_articles }}</h3>

        <style>
            form {
                width: 100%;
                height: 100%;
            }
        </style>



        <form id="pg" novalidate method="get" action="">
            {{ form|crispy }}
            <p></p>
            <p></p>
            <input id="getData" class="btn btn-primary" type="submit" value="Search">
        </form>
        <p>
        </p>
        <p>
        </p>
        <div>
            <a href="http://127.0.0.1:8000/dimsearch"><h2>Dimensional Search?</h2></a>
        </div>

        <div id="spinner" class="spinner-wrapper" style="display: none">
        <img src="/static/images/ajax-loader.gif">
        </div>

        {% if article_page_ob %}
        <h2 class="myHeader">Number of articles found based on your search</h2>

            <h3 class="myHeader"><p style="color:red">({{ query }}):</p></h3>
            <h3 class="myHeader"><p style="color:red">({{ my_list }}):</p></h3>
        <h3 class="myHeader">{{ searched_articles }}</h3>

        <h2 class="myHeader">Search Results</h2>

        <hr/>
        {% for instance in article_page_ob %}
            <div>
                <div><strong><small>
                    <a href="http://127.0.0.1:8000/articles_detail/{{ instance.pubmed_id }}"><h3>{{ instance.pubmed_id }}</h3></a></small></strong>
                </div>
                <div><h3>{{ instance.title }}</h3></div>
                <div><strong><small><h6>Authors:</h6>
                {% for data in instance.authors %}
                        <span>
                        {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                        </span>
                    {% endfor %}

                </small></strong></div>
                <p>
                <p>
                    <div>
                <p></p><h6>Abstract:</h6>{{ instance.abstract|truncatechars:500 }}</div>
            <div><strong><small>
                {% for data in instance.keywords %}
                        <span>
                        {{ data }},
                        </span>
                    {% endfor %}</small></strong></div>
            </div>
            <hr/>
        {% endfor %}

      <div class="pagination">
        <div class="container text-center">
                <span class="step-links">
                    {% if article_page_ob.has_previous %}
                        <a href="?page=1&abstract={{ query }}">&laquo;First</a>
                        <a href="?page={{ article_page_ob.previous_page_number }}&abstract={{ query }}">Previous</a>
                    {% endif %}
                    <span class="current" >
                        Page {{ article_page_ob.number }} of {{ article_page_ob.paginator.num_pages }}.
                    </span>

                    {% if article_page_ob.has_next %}
                        <a href="?page={{ article_page_ob.next_page_number }}&abstract={{ query }}">Next</a>
                        <a href="?page={{ article_page_ob.paginator.num_pages }}&abstract={{ query }}">&raquo; Last</a>
                    {% endif %}
                </span>
        </div>

      </div>
    {% endif %}
</div>

<script type="text/javascript">
const search = document.getElementById("getData");
    search.onclick = function() {
        document.getElementById("spinner").style.display = "block"
   };
</script>
{% endblock %}

