{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

{% load article_extra %}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">

<div class="col-lg-6 container ">


<style>

form {
    width: 100%;
    height: 100%;
}


</style>

<div class="container">
    <br/>
    <h1 style="text-align: center; font-family: 'Luckiest Guy', cursive;">DOLPHIN</h1>

    <div class="row justify-content-center" style="margin-top: 5%">

        <div class="col-12 col-md-10 col-lg-8" style="display: flex">

                <form id="pg" novalidate method="get" action="">

                       <div class="card-body row no-gutters align-items-center" style="display: flex">

                           <div class="input-group mb-3">

                           <div>
                               {{ form|crispy }}
                           </div>
                            <div class="col text-center" style="margin-top: 4%; margin-bottom: 4%">
                                 <button id="getData" class="btn btn-primary" type="submit">Search</button>
                                <a href="http://127.0.0.1:8000/dimsearch"><div class="btn btn-primary">Dimensional Search</div></a>
                            </div>
                       </div>
                   </div>
            </form>
        </div>
    </div>
</div>


<div id="spinner" class="spinner-wrapper" style="display: none">
<img src="/static/images/ajax-loader.gif">
</div>



        {% if article_page_ob %}

        <h5 class="myHeader" style="text-align: center">Number of articles found for {{ query }} is {{ searched_articles }}</h5>


        <hr/>
        {% for instance in article_page_ob %}
            <div>
                <div><strong><small>
                    <a href="http://127.0.0.1:8000/articles_detail/{{ instance.pubmed_id }}"><h5>{{ instance.pubmed_id }}</h5></a></small></strong>
                </div>
                <div><h5>{{ instance.title|default_if_none:"" }}</h5></div>
                <p>
                <p>
                    <div>
                <p></p>{{ instance.abstract|default_if_none:""|truncatechars:330 }}</div>
            <div><strong><small>
                {% for data in instance.keywords %}
                        <span>
                        {{ data|default_if_none:"" }},
                        </span>
                    {% endfor %}</small></strong></div>


            <hr/>
        {% endfor %}

      <div class="pagination" style="margin-bottom: 5%">
            <div class="container text-center">
                <span class="step-links">
                    {% if article_page_ob.has_previous %}
                        <a href="?page=1&abstract={{ query }}">&laquo;First</a>
                        <a href="?page={{ article_page_ob.previous_page_number }}&abstract={{ query }}">Previous</a>
                    {% endif %}
                    <span class="current" >
                        Page {{ article_page_ob.number }} of {{ article_page_ob.paginator.num_pages }}.
                    </span>

                    {% if article_page_ob.has_next %}
                        <a href="?page={{ article_page_ob.next_page_number }}&abstract={{ query }}">Next</a>
                        <a href="?page={{ article_page_ob.paginator.num_pages }}&abstract={{ query }}">&raquo; Last</a>
                    {% endif %}
                </span>
            </div>
      </div>
    {% endif %}
</div>

<script type="text/javascript">

    const search = document.getElementById("getData");
        search.onclick = function() {
        document.getElementById("spinner").style.display = "block"
   };
</script>

{% endblock %}