<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
</head>
<body>
{% extends 'main.html' %}
{% block content %}

    <div class="container text-center">
                <p></p>
                <p></p>
                <p></p>
                <div>
                    <h6>ID:</h6> {{ idd  }}
                </div>
                <p></p>
                <div>
                    <h6>Pubmed ID:</h6> {{ pubmed_id  }}
                </div>
                <p></p>
                <div><h6>Title:</h6> {{ tit }}</div>
                <p></p>
                <div><h6>Publication Date:</h6> {{ pub_date }}</div>
                <p></p>
                <div><h6>DOI Link:</h6><a href="https://doi.org/{{ dooi }}"><h6>{{ dooi }}</h6></a> </div>
                <p></p>
                <div><strong><small><h6>Authors:</h6>
                {% for data in auth %}
                        <span>
                        {{ data.firstname }} {{ data.lastname }} {{ data.initials }} {{ data.affiliation }},
                        </span>
                    {% endfor %}
                </small></strong></div>
                <p>
                <p>
                <div><p><h6>Abstract:</h6> {{ abst }}</p></div>
                <p></p>
                <div><strong><small><h6>Keywords:</h6>
                {% for data in keyw %}
                        <span>
                         {{ data}},
                        </span>
                    {% endfor %}</small></strong></div>

                <p></p>
                <div><h6>Conclusions:</h6> {{ conc }}</div>
                <p></p>
                <div><h6>Results:</h6> {{ res }}</div>
                <p></p>
                <div><h6>Journals:</h6> {{ jour }}</div>
                <p></p>
                <div><h6>CopyRights::</h6> {{ copy }}</div>
                <p></p>
    </div>


{% endblock %}
</body>
</html>



