<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
</head>
<body>
{% extends 'main.html' %}
{% block content %}

    <div class="container" style="margin-top: 5%">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <div><h5>{{ tit|default_if_none:"" }}</h5></div>
                <p></p>

                <p></p>
                <div>
                    <p>Pubmed ID: <b>{{ pubmed_id|default_if_none:"" }}</b></p>
                </div>

                <div><p>Publication Date: <b>{{ pub_date|default_if_none:"" }}</b></p> </div>
                <p></p>
                <div><p>DOI Link: <a href="https://doi.org/{{ dooi|default_if_none:"" }}"> {{ dooi|default_if_none:"" }}</p> </a> </div>
                <p></p>
                <div style="font-size: 17px; color: #808080"><strong><small>
                {% for data in auth %}
                        <span>
                        {{ data.firstname|default_if_none:"" }} {{ data.lastname|default_if_none:"" }} {{ data.initials|default_if_none:"" }} {{ data.affiliation|default_if_none:"" }},
                        </span>
                    {% endfor %}
                </small></strong></div>
                <p></p>
                <div><strong><small><p><b>Keywords:</b>
                {% for data in keyw %}
                        <span>
                         {{ data|default_if_none:""}},
                        </span>
                    {% endfor %}</small></strong></div>
                <p>
                <p>
                <div><p><h6>Abstract</h6> {{ abst|default_if_none:"" }} </p> </div>
                <p></p>

                </p>
                <p></p>
                <div><p><b>Conclusions </b>{{ conc|default_if_none:"" }}</p></div>
                <p></p>
                <div><p><b>Results </b> {{ res|default_if_none:"" }}</p></div>
                <p></p>
                <div><p><b>Journals </b>{{ jour|default_if_none:"" }}</p></div>
                <p></p>
                <div><p><b>CopyRights </b>{{ copy|default_if_none:"" }}</p></div>
                <p></p>
    </div>


{% endblock %}
</body>
</html>



