{% extends 'main.html' %}
{%  load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

{% block content %}

    <div class="row">
        <div class="col-md-4" id="form1">

            <form method="get" action="{% url "dimensional_search" %}">
                <div id="firstField">
                    <div class="inputs_dim">
                        <div class="form-group cls">
                            <input type="text" name="q_0" id="id_q" placeholder="Dimension 1" class="form-control" >
                        </div>
                    </div>
                </div>

                 <div id="moreField"></div>

                <button type="button" class="btn btn-success buttons" onclick="addField();">+</button>
                <button type="button" class="btn btn-danger buttons" onclick="removeField();">-</button>
                <input id="getData" type="submit" name="submit" value="Search" class="btn btn-primary">

            </form>
        </div>
    </div>

    <div id="spinner" class="spinner-wrapper" style="display: none">
        <img src="/static/images/ajax-loader.gif">
    </div>

    {% if context.queries_0 or context.queries_1 or context.queries_2 or context.queries_3 %}

         {% if context.queries_0 and not context.queries_1 and not context.queries_2 and not context.queries_3 %}
              <div class="my_table">
                 <table>
                     <tr>
                         <th>Queries</th>
                     </tr>
                        <td>{{ context.queries_0 }}</td>
                 </table>
              </div>
         {% endif %}

          {% if context.queries_0 and context.queries_1 and not context.queries_2 and not context.queries_3 %}
              <div class="my_table">
                 <table>
                     <tr>
                         <th>Queries</th>
                     </tr>
                      <tr>
                          <td>{{ context.queries_0 }}</td>
                      </tr>
                      <tr>
                          <td>{{ context.queries_1 }}</td>
                      </tr>
                 </table>
              </div>
         {% endif %}

         {% if context.queries_0 and context.queries_1 and context.queries_2 and not context.queries_3 %}
              <div class="my_table">
                 <table>
                     <tr>
                         <th>Queries</th>
                     </tr>
                      <tr>
                          <td>{{ context.queries_0 }}</td>
                      </tr>
                      <tr>
                          <td>{{ context.queries_1 }}</td>
                      </tr>
                      <tr>
                          <td>{{ context.queries_2 }}</td>
                      </tr>
                 </table>
              </div>
         {% endif %}

          {% if context.queries_0 and context.queries_1 and context.queries_2 and context.queries_3 %}
              <div class="my_table">
                 <table>
                     <tr>
                         <th>Queries</th>
                     </tr>
                      <tr>
                          <td>{{ context.queries_0 }}</td>
                      </tr>
                      <tr>
                          <td>{{ context.queries_1 }}</td>
                      </tr>
                      <tr>
                          <td>{{ context.queries_2 }}</td>
                      </tr>
                      <tr>
                          <td>{{ context.queries_3 }}</td>
                      </tr>
                 </table>
              </div>
         {% endif %}


    <div class="my_table">
        <table>
            <tr>
                <th>Queries</th>
                <th>Number of Articles Found</th>
            </tr>

            {% if context.q_0 %}
                 <tr id="q0"></tr>
            {% endif %}

            {% if context.q_1 != context.q_0 %}
            <tr id="q1"></tr>
            {% endif %}

            {% if context.q_2 != context.q_0 and  context.q_2 != context.q_1 %}
            <tr id="q2"></tr>
            {% endif %}

            {% if context.q_3 != context.q_0 and context.q_3 != context.q_2 and context.q_3 != context.q_1 %}
            <tr id="q3"></tr>
            {% endif %}

            {% if context.q_4 != context.q_3 and context.q_4 != context.q_2 and context.q_4 != context.q_1 and context.q_4 != context.q_0 %}
            <tr id="q4"></tr>
            {% endif %}

            {% if context.q_5 != context.q_4 and context.q_5 != context.q_3 and context.q_5 != context.q_2 and context.q_5 != context.q_1 and context.q_5 != context.q_0 %}
            <tr id="q5"></tr>
            {% endif %}

            {% if context.q_6 != context.q_5 and context.q_6 != context.q_4 and context.q_6 != context.q_3 and context.q_6 != context.q_2 and context.q_6 != context.q_1 and context.q_6 != context.q_0 %}
            <tr id="q6"></tr>
            {% endif %}

            {% if context.q_7 != context.q_6 and context.q_7 != context.q_5 and context.q_7 != context.q_4 and context.q_7 != context.q_3 and context.q_7 != context.q_2 and context.q_7 != context.q_1 and context.q_7 != context.q_0 %}
            <tr id="q7"></tr>
            {% endif%}

            {% if context.q_8 != context.q_7 and context.q_8 != context.q_6 and context.q_8 != context.q_5 and context.q_8 != context.q_4 and context.q_8 != context.q_3 and context.q_8 != context.q_2 and context.q_8 != context.q_1 and context.q_8 != context.q_0 %}
            <tr id="q8"></tr>
            {% endif %}

            {% if context.q_9 != context.q_8 and context.q_9 != context.q_7 and context.q_9 != context.q_6 and context.q_9 != context.q_5 and context.q_9 != context.q_4 and context.q_9 != context.q_3 and context.q_9 != context.q_2 and context.q_9 != context.q_1 and context.q_9 != context.q_0 %}
            <tr id="q9"></tr>
            {% endif %}

            {% if context.q_10 != context.q_9 and context.q_10 != context.q_8 and context.q_10 != context.q_7 and context.q_10 != context.q_6 and context.q_10 != context.q_5 and context.q_10 != context.q_4 and context.q_10 != context.q_3 and context.q_10 != context.q_2 and context.q_10 != context.q_1 and context.q_10 != context.q_0 %}
            <tr id="q10"></tr>
            {% endif %}

            {% if context.q_11 != context.q_10 and context.q_11 != context.q_9 and context.q_11 != context.q_8 and context.q_11 != context.q_7 and context.q_11 != context.q_6 and context.q_11 != context.q_5 and context.q_11 != context.q_4 and context.q_11 != context.q_3 and context.q_11 != context.q_2 and context.q_11 != context.q_1 and context.q_11 != context.q_0 %}
            <tr id="q11"></tr>
            {% endif %}

            {% if context.q_12 != context.q_11 and context.q_12 != context.q_10 and context.q_12 != context.q_9 and context.q_12 != context.q_8 and context.q_12 != context.q_7 and context.q_12 != context.q_6 and context.q_12 != context.q_5 and context.q_12 != context.q_4 and context.q_12 != context.q_3 and context.q_12 != context.q_2 and context.q_12 != context.q_1 and context.q_12 != context.q_0 %}
            <tr id="q12"></tr>
            {% endif %}

        </table>

    </div>

    {% else %}

    {% endif %}


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">

    function addField(){

        let lastname_name = $('.inputs_dim input[type=text]').last().attr('name');
        let lastname_name2 = $('.inputs_dim input[type=text]').last().attr('placeholder');
        let split_name = lastname_name.split('_');
        let split_name2 = lastname_name2.split(' ');
        let index = Number(split_name[1]) + 1;
        let index2 = Number(split_name2[1]) + 1;
        $('#firstField .inputs_dim').clone().find("input").attr("name", "q_"  + index).attr("placeholder", "Dimension "  + index2).val("").end().appendTo("#moreField");
    }

    function removeField(){
        $('#moreField .inputs_dim').last().remove();
    }

    const search = document.getElementById("getData");
    search.onclick = function() {
        document.getElementById("spinner").style.display = "block"
   };


    const q0 = document.getElementById("q0");
    if(q0 !== null){
         q0.innerHTML = `<td>{{ context.q_0 }}</td>
         <td id="q0_"><a href={% url "all_articles" %}?dim=0>{{ context.total_count_0 }}</a></td>`
    }

    const q1 = document.getElementById("q1");
    if(q1 !== null){
    q1.innerHTML = `<td>{{ context.q_1 }}</td>
                <td id="q1_"><a href={% url "all_articles" %}?dim=1>{{ context.total_count_1 }}</a></td>`
     }

    const q2 = document.getElementById("q2");
    if(q2 !== null){
    q2.innerHTML = `<td>{{ context.q_2 }}</td>
                <td id="q2_"><a href={% url "all_articles" %}?dim=2>{{ context.total_count_2 }}</a></td>`
    }

    const q3 = document.getElementById("q3");
    if(q3 !== null){
    q3.innerHTML = `<td>{{ context.q_3 }}</td>
                <td id="q3_"><a href={% url "all_articles" %}?dim=3>{{ context.total_count_3 }}</a></td>`
    }

    const q4 = document.getElementById("q4");
    if(q4 !== null){
    q4.innerHTML = `<td>{{ context.q_4 }}</td>
                <td id="q4_"><a href={% url "all_articles" %}?dim=4>{{ context.total_count_4 }}</a></td>`
    }

    const q5 = document.getElementById("q5");
    if(q5 !== null){
    q5.innerHTML = `<td>{{ context.q_5 }}</td>
                <td id="q5_"><a href={% url "all_articles" %}?dim=5>{{ context.total_count_5 }}</a></td>`
    }

    const q6 = document.getElementById("q6");
    if(q6 !== null){
    q6.innerHTML = `<td>{{ context.q_6 }}</td>
                <td id="q6_"><a href={% url "all_articles" %}?dim=6>{{ context.total_count_6 }}</a></td>`
    }

    const q7 = document.getElementById("q7");
    if(q7 !== null){
    q7.innerHTML = `<td>{{ context.q_7 }}</td>
                <td id="q7_"><a href={% url "all_articles" %}?dim=7>{{ context.total_count_7 }}</a></td>`
    }

    const q8 = document.getElementById("q8");
    if(q8 !== null){
    q8.innerHTML = `<td>{{ context.q_8 }}</td>
                <td id="q8_"><a href={% url "all_articles" %}?dim=8>{{ context.total_count_8 }}</a></td>`
    }

    const q9 = document.getElementById("q9");
    if(q9 !== null){
    q9.innerHTML = `<td>{{ context.q_9 }}</td>
                <td id="q9_"><a href={% url "all_articles" %}?dim=9>{{ context.total_count_9 }}</a></td>`
    }

    const q10 = document.getElementById("q10");
    if(q10 !== null){
    q10.innerHTML = `<td>{{ context.q_10 }}</td>
                <td id="q10_"><a href={% url "all_articles" %}?dim=10>{{ context.total_count_10 }}</a></td>`
    }

    const q11 = document.getElementById("q11");
    if(q11 !== null){
    q11.innerHTML = `<td>{{ context.q_11 }}</td>
                <td id="q11_"><a href={% url "all_articles" %}?dim=11>{{ context.total_count_11 }}</a></td>`
    }

    const q12 = document.getElementById("q12");
    if(q12 !== null){
    q12.innerHTML = `<td>{{ context.q_12 }}</td>
                <td id="q12_"><a href={% url "all_articles" %}?dim=12>{{ total_count_12 }}</a></td>`
    }

    </script>
    <script src="{% static '/js/app.js' %}"></script>







{% endblock  %}